.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active {
    background-color: transparent;
    color: black;
}

a.active {
    border: 2px solid green;
}